body {
  background: #141414 !important;
  color: #ffffff !important;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}
.image-container {
  position: relative;
  transition: transform 0.2s;
  margin-right: 20px;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.button {
  background-color: black;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
